<div class="d-flex bd-highlight bg-warning ">
    <div class="p-2 flex-grow-1 bd-highlight"><a href="#" class="nav-link text-dark font-weight-bolder">Pixogram</a></div>

    <div class="p-2 bd-highlight"><a href="/" class="nav-link text-dark font-weight-bolder">Home</a></div>

    <% if (data.isAuthenticated) { %>
        <div class="p-2 bd-highlight"><a href="/account/update" class="nav-link text-dark font-weight-bolder">Account</a></div>
        <div class="p-2 bd-highlight"><a href="/followers/<%= data.customer._id %>" class="nav-link text-dark font-weight-bolder">Followers</a></div>
        <div class="p-2 bd-highlight"><a href="/upload/<%= data.customer._id %>" class="nav-link text-dark font-weight-bolder">Upload Media</a></div>
        <div class="p-2 bd-highlight"><a href="/media/<%= data.customer._id %>" class="nav-link text-dark font-weight-bolder">My Media</a></div>
        <div class="p-2 bd-highlight"><a href="/account/logout %>" class="nav-link text-dark font-weight-bolder">Logout</a></div>
    <% }
    else {
    %>
        <div class="p-2 bd-highlight"><a href="/users/login" class="nav-link text-dark font-weight-bolder">Login</a></div>
        <div class="p-2 bd-highlight"><a href="/users/signup" class="nav-link text-dark font-weight-bolder">Register</a></div>
    <%
    }%>




</div>