<!DOCTYPE html>

<html lang="en">



<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Add Todo</title>

  <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">

</head>



<body>

    <header class="main-header">

        <nav class="main-header__nav">

            <ul class="main-header__item-list">

                <li class="main-header__item"><a href="/">DISPLAY ALL</a></li>

                <li class="main-header__item"><a class="active" href="/admin/add-todo">ADD TODO</a></li>

            </ul>

        </nav>

    </header>



    <main>

        <form class="product-form" action="/admin/add-todo" method="POST">

            <div class="form-control">

                <label for="name">Todo Name</label>

                <input type="text" name="name" id="name">

                <label for="id">Todo ID</label>

                <input type="number" name="todoid" id="todoid">

                <label>
                    <input type="checkbox" name="status" id="status" checked>Completed
                </label>
               

            </div>



            <button type="submit">ADD TODO</button>

        </form>

    </main>

</body>



</html>