<%- include('includes/head.ejs') %>

</head>
<script src="/javascripts/common.js"></script>
<body class="container">
<%- include('includes/nav.ejs') %>

    <div class="row">
        <div class="col-md-4">

            <%- include('includes/menu.ejs') %>
        </div>

        <div class="col-md-6">


    <h1>News feed Page</h1>


    </div>
    </div>


</body>
</html>