<%- include('includes/head.ejs') %>
    <script type="text/javascript">
        function validateDetails()
        {
            try {


                let pwd = document.forms["form1"]["passwd"].value;
                let cnfpwd = document.forms["form1"]["confirmPassword"].value;

                if(pwd!=cnfpwd) {
                    alert("Password and confirm Password should be same");
                    return false;
                }


            } catch(err)
            {

                alert("Inside error"+err);
                return false;
            }

            return true;

        }

    </script>


</head>
<body class="container">
    <%- include('includes/nav.ejs') %>

    <div class="row">
        <div class="col-md-4">

            <%- include('includes/menu.ejs') %>
        </div>

        <div class="col-md-6">
    <br/>
    <br/>
    <h1 class="text-center">Registration Form</h1>
    <form id="form1" name="form1" method ="POST" action="/users/add-user" enctype="multipart/form-data">
        <div>
            <table class="center">
                <tr>
                    <td>
                        <div class="float-left"><label for="firstName">First Name</label></div>
                        <div class="float-right">:</div>

                    </td>
                    <td>
                        <div class='container'>
                            <input type="text" class="form-control" id="firstName" name="firstName" required="true" placeholder="First Name"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="float-left"><label for="lastName">Last Name</label></div>
                        <div class="float-right">:</div>

                    </td>
                    <td>
                        <div class='container'>
                            <input type="text" class="form-control" id="lastName" name="lastName" required="true" placeholder="Last Name"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="float-left"><label for="userName">User Name</label></div>
                        <div class="float-right">:</div>

                    </td>
                    <td>
                        <div class='container'>
                            <input type="text" class="form-control" id="userName" name="userName" pattern="^[A-Za-z][A-Za-z0-9 -]+$" minlength=8 maxlength=10 required="true" placeholder="User Name"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="float-left"><label for="email">Email ID</label></div>
                        <div class="float-right">:</div>

                    </td>
                    <td>
                        <div class='container'>
                            <input type="email" class="form-control" id="email" name="email" required="true" placeholder="Email ID"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="float-left"><label for="dateofBirth">Date of Birth</label></div>
                        <div class="float-right">:</div>
                    </td>
                    <td>
                        <div class='container'>
                            <input type="date" class="form-control" id="dateofBirth" name="dateofBirth" required="true" placeholder="Date of Birth"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="float-left"><label for="passwd">Password</label></div>
                        <div class="float-right">:</div>

                    </td>
                    <td>
                        <div class='container'>
                            <input type="password" class="form-control" id="passwd" name="passwd" required="true" pattern="^[A-Za-z0-9#%$! -]+$" placeholder="Password"/>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="float-left"><label for="confirmPassword">Confirm Password</label></div>
                        <div class="float-right">:</div>

                    </td>
                    <td>
                        <div class='container'>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required="true" pattern="^[A-Za-z0-9#%$! -]+$" placeholder="Confirm Password"/>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="float-left"><label for="profilePicture">Profile Picture</label></div>
                        <div class="float-right">:</div>

                    </td>
                    <td>
                        <div class='container'>
                            <input type="file" class="form-control" id="profilePicture" name="profilePicture" required="true" placeholder="Profile picture"/>
                        </div>


                    </td>
                </tr>


                <tr>
                    <td colspan="2" align="center">
                        <button type="Submit" onclick="validateDetails()" class="btn btn-primary">Submit</button>
                        <button type="button" onclick="this.form.reset();" class="btn btn-secondary">Clear</button>

                    </td>

                </tr>






                </tr>
            </table>



        </div>
    </form>
    </div>
</div>

</body>
</html>